::root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 98%);
  font-size: 1.5rem;
  line-height: 1.5;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 1200px;
  max-width: 100%;
  margin: 3rem;
}

header {
  text-align: center;
  padding: 0 25%;
}
.header--heading {
  font-size: 2.5rem;
  font-weight: 200;
  color: var(--grayish-blue);
}

.header--power {
  display: block;
  font-weight: 600;
  font-size: 2.5rem;
}

.header--text {
  color: hsl(234, 12%, 34%);
  font-size: 1.7rem;
  margin-top: 1rem;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  gap: 3rem;
}

section {
  width: 100%;
}
.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

.article {
  display: flex;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
  padding: 3rem;
  flex-direction: column;
  gap: 2rem;
  background-color: #fff;
  border-radius: 5px;
}

.supervisor {
  border-top: 5px solid hsl(180, 62%, 55%);
}

.team--builder {
  border-top: 5px solid hsl(0, 78%, 62%);
  /* margin-bottom: 3rem; */
}

.karma {
  border-top: 5px solid hsl(34, 97%, 64%);
}

.calculator {
  border-top: 5px solid hsl(212, 86%, 64%);
}

.article--heading {
  font-size: 1.8rem;
}

.article--text {
  font-size: 1.6rem;
  color: hsl(229, 6%, 66%);
}
.article img {
  width: 5rem;
  align-self: flex-end;
  justify-self: center;
}

@media screen and (max-width: 768px) {
  main {
    grid-template-rows: repeat(3, autofit);
    grid-template-columns: auto;
    gap: 2rem;
  }

  header {
    padding: 0 5%;
  }
  .middle {
    gap: 2rem;
  }
  .team--builder {
    margin: 0;
  }
}
